:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: #121212;
    --highlight-color: #f5795d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--primary-color);
}

header {
    padding: 20px 0;
}

nav {
    background-color: var(--primary-color) !important;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
}

nav ul {
    margin: 20px;
}

nav ul, .portfolio-item ul {
    list-style-type: none;
    text-align: center;
}

nav ul li a:hover {
    color: var(--highlight-color);
}

nav ul li, .portfolio-item li {
    display: inline;
    margin-right: 20px;
}

nav ul li a, .portfolio-item a {
    color: rgb(201, 200, 206);
    text-decoration: none;
}

.portfolio-item a:hover {
    opacity: 0.7;
}

.showcase {
    text-align: center;
    padding: 100px 0;
    color: rgb(201, 200, 206);
    background-color: rgba(245, 121, 93, 0.1);
    height: 36vh;
}

.showcase:before {
    content: '';
    background: url('../images/showcase.jpg');
    opacity: 0.2;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    z-index: -1;
}

.picture-credit {
    text-align: right;
    padding-right: 20px;
    font-style: italic;
}

.showcase-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.showcase-content p {
    font-size: 18px;
    margin-bottom: 40px;
}

.portfolio {
    padding: 20px 0 70px 0;
    text-align: center;
    color: rgb(201, 200, 206);
}

.portfolio-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 300px;
    margin: 20px;
    border-bottom: 2px solid #fff;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item h3 {
    margin-top: 10px;
}

.portfolio-item a {
    cursor: pointer;
}

.featured-proj {
    text-align: left;
}

.dash {
    color: var(--highlight-color);
}

.brief-exp {
    padding: 0 10px;
}

.tools {
    border-style: solid;
    border-color: var(--highlight-color);
    border-radius: 0.5rem;
    border-width: thin;
    padding: 3px 6px;
}

.sheet {
    background: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}